.civmodellist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.civmodellist figure {
	margin: 6px;
	transition: transform .3s ease-out, box-shadow 0.3s ease;
	cursor: pointer;
	border-radius: 10px;
}

.civmodelcard {
    position: relative;
}

.civmodelcard:hover {
	transform: scale(1.1, 1.1);
	position: relative;	
	z-index: var(--layer-5);
	box-shadow: 0px 0px 1px 3px whitesmoke;
}

.civmodelcardinstalled {
	box-shadow: 0px 0px 1px 3px aquamarine;
}

.civmodelcardoutdated {
	box-shadow: 0px 0px 1px 3px orange;
}

.civmodelcard:hover figcaption{
	bottom: initial;
	background-color: rgba(32, 32, 32, 0.9);
}

.civmodelcard img {
	width: 8em;
	height: 12em;
	object-fit: cover;
	border-radius: 10px;
}

.civmodelcard figcaption {
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 8em;
	word-break: break-word;
	background-color: rgba(32, 32, 32, 0.5);
	color: white !important;
}

#quicksettings > div{
	max-width: None !important;
	width: auto !important;
}

#lobe_toggles{
	margin-top: 3px;
}

#toggles{
	margin-top: -10px;
}

#toggle1, #toggle2, #toggle3{
	margin-top: 5px;
}

.gradio-container-3-32-0 .prose :last-child {
    margin-bottom: auto !important;
}

.date-section {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
}

.card-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#selected_tags {
    text-align: center;
}

#selected_tags > div {
    justify-content: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

#civitai_preview_html .model-block {
	box-shadow: 0px 0px 1px 3px #3339ff30;
    border-radius: 10px;
    padding: 1px 20px 10px;
    margin-bottom: 20px;
}

#civitai_preview_html .sampleimgs .model-block img {
	padding-top: 1em;
	max-width: 20em;
	cursor: zoom-in;
	transition: max-width 0.1s;
}

/* Preview Image zoom */
#civitai_preview_html .zoom-radio {
    display: none!important;
}

/* Style for when the image is clicked (radio button checked) */
#civitai_preview_html .zoom-radio:checked + label > img {
    max-width: 95vw;
    max-height: 95vh;
    padding-top: 0px;
    cursor: zoom-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Higher than the overlay */
    pointer-events: none; /* Allow clicks to penetrate through to the overlay for resetting */
}

/* Overlay for resetting zoomed state */
#civitai_preview_html .zoom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5); 
    z-index: 999; /* Below the zoomed image */
    cursor: zoom-out;
}

#civitai_preview_html .zoom-radio:checked + label + .zoom-overlay {
    display: block;
    pointer-events: all; /* Capture click events when displayed */
}

#civitai_preview_html .zoom-img-container {
    min-width: 20em;
}

#civitai_preview_html .model-uploader {
 	border-bottom: 1px solid;
    padding-bottom: 10px;
 }

#civitai_preview_html .model-description {
 	border-top: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
 }

/*Avatar CSS mostly copied from CivitAI, but 48px instead of 32px*/
#civitai_preview_html .avatar {
	user-select: none;
    overflow: hidden;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 48px;
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.31);
    display: inline-block!important;
    margin-left: 5px!important;
    vertical-align: middle;
}

#civitai_preview_html .avatar img {
	object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
}

#civitai_preview_html dt {
	font-size: medium;
    color: #80a6c8!important;
}

#civitai_preview_html dd {
	padding: 0px 0px 10px 10px;
}

/*CSS accordion for toggling extra metadata*/
/*-----------------------------------------*/
#civitai_preview_html .accordionCheckbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#civitai_preview_html .tabs {
  border-radius: 10px;
  overflow: hidden;
}

#civitai_preview_html .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-left: -15px;
}

#civitai_preview_html .tab-label {
  display: flex;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}

/* Icon */
#civitai_preview_html .tab-label::before {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.3s;
}

#civitai_preview_html .accordionCheckbox:checked + .tab-label::before {
  transform: rotate(90deg);
}

#civitai_preview_html .tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.3s;
}

#civitai_preview_html .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}

#civitai_preview_html .accordionCheckbox:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
/*-----------------------------------------*/
/*End CSS accordion for toggling extra metadata*/