.civmodellist {
	display: flex;
	flex-wrap: wrap;
}

.civmodellist figure {
	margin: 6px;
	transition: transform .3s ease-out, box-shadow 0.3s ease;
	cursor: pointer;
	border-radius: 10px;
}

.civmodelcard {
    position: relative;
}

.civmodelcard:hover {
	transform: scale(1.1, 1.1);
	position: relative;	
	z-index: var(--layer-5);
	box-shadow: 0px 0px 1px 3px whitesmoke;
}

.civmodelcardinstalled {
	box-shadow: 0px 0px 1px 3px aquamarine;
}

.civmodelcardoutdated {
	box-shadow: 0px 0px 1px 3px orange;
}

.civmodelcard:hover figcaption{
	bottom: initial;
	background-color: rgba(32, 32, 32, 0.9);
}

.civmodelcard img {
	width: 8em;
	height: 12em;
	object-fit: cover;
	border-radius: 10px;
}

.civmodelcard figcaption {
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 8em;
	word-break: break-word;
	background-color: rgba(32, 32, 32, 0.5);
}

.civnsfw img {
	filter: blur(10px);
}
.civcardnsfw img {
	filter: blur(4px);
}

#quicksettings > div{
	max-width: None !important;
	width: auto !important;
}

#lobe_toggles{
	margin-top: 3px;
}

#toggles{
	margin-top: -10px;
}

#toggle1, #toggle2, #toggle3{
	margin-top: 5px;
}

.gradio-container-3-32-0 .prose :last-child {
    margin-bottom: auto !important;
}

.date-section {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.card-row {
	display: flex;
	flex-wrap: wrap;
}
